<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("b44363d5-07cd-4d73-8a3f-6bbf5c3ed0e3");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
